body {
  font-family: "Times New Roman", Georgia, serif;
  background-image:url(/508374604.jpg);
  background-size:100%;
}

.home {
  img.resize {
    max-width:20%;
    max-height:20%;
    }
  text-align: center;
}

.main {
  color:black;
  text-decoration:none;
}
