body {
  font-family: "Times New Roman", Georgia, serif;
  background-image:url(background.jpg);
  background-size:200%;
  padding-top:5px;
  padding-bottom:5px;
}

h3 {
  font-size: 16px
}

p {
  padding-top:0px;
  padding-bottom:0px;
}

img {
  max-width:20%;
  max-height:20%;
}

.home {
  text-align:center;
}

h1.bio {
  text-align: center;
}
h2.bio {
  text-align: center;
}
h3.bio {
  margin-right: 200px;
  margin-left: 200px;
}
p.bio {
  margin-right: 200px;
  margin-left: 200px;
}
h1.res {
  text-align: center;
}
h2.res {
  text-align: center;
}
h4.res {
  text-align: center;
}
div.res {
  width: 70%;
  height: 1150px;
  margin: auto;
}

.LI-profile-badge {
  text-align: center;
}